

body {
	min-height: 100vh;
	color: #ebff00;
	background: #452F37;
	text-align: center;
	font-family: helvetica;
}

.title {
	text-align: left;
}

.centre-wrapper {
	margin: auto;
	width: 95vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

canvas {
	background: #fff;
	margin: auto;
	min-width: 95vw;
}

.header-bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
}


nav {
	display: flex;
	justify-content: space-around;
}

.nav-item {
	padding: 1em;
}

.sub-menu {
	display: none;
}

.nav-item:hover.sub-menu {
	display: block;
}

